extends layout

block content

  include navbar
  #studentContainer(style="position:relative")

    table.table.table-bordered
      thead
        tr
          th(style='width:40px') Username
          th(style='width:40px') Password
          th(style='width:100px') Teacher
          - for(var i =0;i<assignments.length;i++)
            th=assignments[i]
      tbody
      - for(var i =0; i<students.length;i++)
        tr
          td=students[i].username
          td=students[i].password
          td=students[i].teacher
          - for(var j = 0;j<students[i].assignments.length;j++)
            td
              input(type='text', value=students[i].assignments[j].mastery, class=i+'dial'+j)
              script(type='text/javascript').
                $(function(){
                  $(".#{i}dial#{j}").knob({
                    'min':0,
                    'max':100,
                    'readOnly':true, 
                    'width':50, 
                    'height':50
                    });
                });
              p=students[i].assignments[j].timeSpentOnAssign

block scripts
